extends layout

block content
	h2 #{title}
	if user
			ul.list-group
				each article, i in articles
					if user._id == article.author
						li.list-group-item
							a(href=`/articles/${article._id}`)=  article.title
	else 
		div.alert.alert-info Login to see your saved Ideas