doctype html
html
	head
		title RembIt
		link(rel='stylesheet' href='/bower_componets/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/style.css')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark
			a.navbar-brand(href='#') RembIt
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarCollapse.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/')
							| Home 
							span.sr-only (current)
					if user
						li.nav-item
							a.nav-link(href='/articles/add') New idea
				ul.navbar-nav.ml-auto
					if user 
						li.nav-item
							a.nav-link(href=`/user/profile/${user._id}`) #{user.username}
						li.nav-item
							a.nav-link(href='/user/logout') Logout
					else
						li.nav-item
							a.nav-link(href='/user/register') Register
						li.nav-item
							a.nav-link(href='/user/login') Login
					
				
					
		br
		.container
			!= messages('message', locals)
			if errors
				each error, i in errors

					div(class='alert alert-danger') #{error.msg}
			block content
			
			hr
			footer
				p Copyright &copy; Artin 2018

		script(src='/bower_componets/jquery/dist/jquery.js')
		script(src='/bower_componets/bootstrap/dist/js/bootstrap.js')
		script(src='/js/main.js')
